.App {
  text-align: center;
}

.Logo-img {
  height: 12vh;
  position: absolute;
  top: 20px;
  left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  background-color: #ffffff;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 20px;
}
.table, .responseTable{
  background-color: rgb(223, 223, 223);
  color: black;
  justify-content: center;
}

.button-box {
  text-align:center;
  margin: 20px;
 }
 .btn{
    margin-left: 5px;
 }


.table-container{
  min-height: 50vh;
}

.primary-button{
  background-color: #030437;
  color: white;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  transition: .5s ease-in-out;
}
.primary-button:hover{
  background-color: #72C2E2;
}
.primary-button-note{
  background-color: #030437;
  color: white;
  border: none;
  width: 120px;
  height: 35px;
  border-radius: 8px;
  transition: .5s ease-in-out;
}
.primary-button-note:hover{
  background-color: #72C2E2;
}
.Body{
  background-color: #ffffff;
}
.searchButton:hover{
  cursor: pointer;
}
.searchHeading{
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 425px){
  .Logo-img{
    height: 10vh;
    left: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .App-header h2{
    padding-top: 15%;
  }
  .search-bar .primary-button{
    margin-top: 10px;
  }
  body{
    width: fit-content;
  }
  /* .heading{
    float: left!important;
  } */

}


