.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ExcelTable {
	border-width: 1px 0px 0px 1px;
	font-size: 11pt;
	font-family: Calibri;
	font-weight: 100;
	border-spacing: 0px;
	border-collapse: collapse;
  padding: 10px;
  width: 800px;
  max-height: 600px;
  overflow: auto;
  color: black;
}
.ExcelTable TR{
  overflow: auto;
}
/*
.ExcelTable TH {
	background-repeat: no-repeat; 
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
	height: 17px;
	line-height: 17px;
}

.ExcelTable TD {
  border: 0px;
  color: black;
	background-color: white;
	padding: 0px 4px 0px 2px;
	border: 1px solid #D0D7E5;
	border-width: 0px 1px 1px 0px;
} 

.ExcelTable TD B {
	border: 0px;
	background-color: white;
	font-weight: bold;
}

.ExcelTable TD.heading {
	background-color: #E4ECF7;
	text-align: center;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
	font-weight: bold;
}

.ExcelTable TH.heading {
	background-repeat: no-repeat;
}

TH {
	text-align: center;
} 
*/
 .border-secondary{
  max-width: 1200px;
  max-height: 600px;
  overflow: auto;
  width: fit-content;
} 
.ExcelResult{
  border-width: 1px 0px 0px 1px;
	font-size: 10px;
	font-family: Calibri;
	font-weight: 100;
	border-spacing: 0px;
	border-collapse: collapse;
  padding: 10px;
  width: 800px;
  max-height: 600px;
  overflow: auto;
  color: black;
}
.ExcelResult h2{
  font-size: medium;
}
.ExcelResult li{
  text-align: left;
  word-spacing: 10px;
  box-sizing: content-box;
  word-spacing: normal;
}
.ExcelResult h2 p {
  word-spacing: normal;
}


